@import url(reset.css);

/* ----------------首頁的天---------------- */

#header{
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;

}


#top{
    width: 90%;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid red; */

}


.header_logo{
    width: 80px;
}


.header_list{ 
    /* border: 1px solid blue; */
    display: flex;
    flex-grow: 1;
}


.header_list li{
    /* border: 1px solid red; */
    font-size: 20px;
    margin: 0 auto;
    margin-top: 30px;

}

.header_list .page{
    border-bottom: 3px solid #81a17a;
}


.header_list li a{
    text-decoration: none;
    color: #81a17a;
    display: block;
    text-align: center;
    line-height: 1.6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}


.header_icon{
    display: flex;
    padding-right: 30px;
    margin-top: 30px;
}

/* RWD漢堡線 */
#top .fa-bars{
    display: none;
}


.header_icon li{
    font-size: 24px;
    margin-left: 10px;
}


.header_icon li a{
    color: #82796a;
}


/* --------header選單hover後---------- */
.header_list li:hover a{
    box-shadow: inset 0 -3px 0 0 #81a17a;

}

.header_icon li a:hover{
    color: #3d3932;
}







/* -------------------頁尾----------------------------- */

#footer{
    margin-top: 50px;
    /* border: 1px solid blue; */
}

.container{
    display: flex;
    justify-content: space-around;

    width: 90%;
    margin: 0 auto;

}


/* -------------左方logo區 -----------------------*/



.footer_logo img{
    width: 100px;

}


.footer_logo ul{
    display: flex;
}

.footer_logo li{
    margin-top: 10px;
    margin-left: 8px;
}

.footer_logo .fa-brands{
    font-size: 28px;
    text-decoration: none;
    color: #81a17a;
}

/* --------------中間 聯絡我們 區 ------------------*/

.contact{
    color: #81a17a;
    /* flex-grow: 1; */
    margin-top: 10px;
}


.contact h2{
    font-size: 22px;
    line-height: 2;
    font-weight: bold;
}

.contact li{
    line-height: 1.6;
}


.contact .fa-solid{
    font-size: 14px;
}

.contact .fa-location-dot{
    font-size: 16px;
}

.contact span{
    margin-left: 10px;
}

/* --------------左方 顧客服務 區--------------- */

.service{
    /* flex-grow: 1; */
    margin-top: 10px;
}

.service_display{
    display: flex;
    /* border: 1px solid red; */
}

.service h2{
    color: #81a17a;
    font-size: 22px;
    font-weight: bold;
    line-height: 2;

}

.service_display ul{
    /* border: 1px solid red; */
    font-size: 20px;
    margin-right: 30px;


}


.service_display li{
    line-height: 1.6;
}

.service_display li a{
    text-decoration: none;
    color: #81a17a;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;

}


/* 連結hover後效果 */
.service_display li:hover a{
    box-shadow: inset 0 -2px 0 0 #81a17a;
    
}


/* --------------最底部參考資源------------------------------ */

.bottom{
    width: 100%;
    background-color: #81a17a;
    margin-top: 50px;
}

.bottom p{
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 2;

}

/* ------------------ RWD 414 ---------------------------- */

@media screen and (max-width: 414px){

    /* -------------- 頁首 --------------- */

    #top{
        width: auto;
        position: relative;
    }

    .header_logo{
        width: 50px;
        margin-top: 5px;
        margin-left: 5px;
    }


    .header_list{
        width: 50%;
        height: 100vh;
        background-color: white;
        flex-direction: column;
        padding: 0 15px 0 15px;

        position: fixed;
        left: 0px;
        top: 55px;

        left: -500px;
        transition: all .5s;

    }


    .header_icon{
        margin-top: 15px;
        margin-right: 10px;
        margin-left: auto;
        padding: 0;
    }

    .header_icon li{
        font-size: 16px;
    }


    #top .fa-bars{
        display: block;
        color: #82796a;
        font-size: 16px;
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 10px;
        order: 3;
    }

    #top .fa-bars:hover + ul{
        left: 0;
        /* display: block; */
    }


    .header_list li{
        font-size: 16px;
        margin: 0;
        margin-bottom: 20px;
    }



    .header_list li a{
        text-align: left;

    }


    /* ------------------- 頁尾 ------------------ */

    .container{
        flex-direction: column;
        width: 80%;

    }

    .footer_logo img{
        display: none;
    }
    .footer_logo{
        order: 3;
    }

    .footer_logo .fa-brands{
        font-size: 26px;

    }

    .footer_logo li{
        margin-left: 0;
        margin-right: 10px;
    }

    .contact h2{
        font-size: 18px;

    }

    .service h2{
        font-size: 18px;
    }

    .service_display li a{
        font-size: 16px;
    }

    .bottom{
        width: auto;

    }

    .bottom p{
        font-size: 5px;
        line-height: 1.6;
        padding: 5px;

    }

}