@import url(reset.css);


section{
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

section img{
    border-radius: 5px;
}


/* -------------------------------------------------- */

.row{
    margin-top: 100px;
}


.row ul{
    display: flex;
    justify-content: center;

}


.row ul li{
    /* border: 1px solid red; */
    flex-grow: 1;
    margin-left: 30px;

}


.row h1{
    color: #3d3932;
    font-size: 24px;
    line-height: 2;

}


.row p{
    color: #B3B3B3;
    font-size: 18px;

}
.row a{
    text-decoration: none;

}

.row img{
    transition: transform 0.5s ease-in-out;

}

.row a:hover img{
    transform: scale(1.05);

}


/* ------------------------------------------------------- */

.column{
    margin-top: 100px;
}


.column ul{
    display: flex;
    justify-content: center;
}


.column ul li{
    /* border: 1px solid red; */
    flex-grow: 1;
    padding-left: 30px;

}

.column h1{
    color: #3d3932;
    font-size: 24px;
    line-height: 2;

}


.column p{
    color: #B3B3B3;
    font-size: 18px;

}
.column a{
    text-decoration: none;

}

.column img{
    transition: transform 0.5s ease-in-out;

}

.column a:hover img{
    transform: scale(1.05);

}

/* -------------------- RWD ---------------------- */

@media screen and (max-width: 414px){

    section{
        width: 85%;
    }

    .row{
        margin-top: 60px;
    }

    .row ul, .column ul{
        flex-direction: column;
    }


    .row ul li{
        margin-left: 0;
    }

    .row a, .column a {
        margin-bottom: 20px;
    }


    .row img, .column img{
        width: 100%;
    }

    .row h1, .column h1{
        font-size: 18px;
    }

    .row p, .column p{
        font-size: 14px;
    }


    /* --------- column ----------- */

    .column{
        margin-top: 0;
    }


    .column ul li{
        padding-left: 0;
    }





}