@import url(reset.css);

body{
    font-family: 'Noto Sans TC', sans-serif;
}

.wrapper{
    width: 70%;
    margin: 0 auto;
}

/* ------------ 上方進度條 -------------- */

.top{
    /* border: 1px solid red; */
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 120px;
}


.top li div{
    width: 32px;
    height: 32px;
    line-height: 2;
    background-color: #b3b3b3;
    color: #fff;
    border-radius: 50%;
    margin: 0 auto;
}

.top li p{
    line-height: 1.6;
    color: #b3b3b3;
    margin-top: 10px;

}

.top li:nth-child(2) div{
    background-color: #81a17a;
}

.top li:nth-child(2) p{
    color: #81a17a;
}

/* ------------------ 購物車資料 ------------------ */

.cart_info h1{
    font-size: 18px;
    color: #3d3932;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 8px;

    position: relative;
}

.cart_info h1::after{
    content: '';
    display: block;
    width: 3px;
    height: 16px;
    background-color: #81a17a;

    position: absolute;
    left: 0px;
    top: 8px;
}

/* --------------- 導覽列 ---------------- */

.cart_info_nav{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(130, 121, 106, .5);

}

.cart_info_nav li{
    color: #3d3932;
    flex-grow: 1;
    margin-bottom: 10px;
    /* outline: 1px solid blue; */
}

.cart_info_nav li:first-child{
    flex-grow: 1.13;
}

.cart_info_nav li:nth-child(2){
    flex-grow: 1.1;
}

/* ------------------- 商品明細 --------------- */

.product_list{
    display: flex;
    margin-top: 20px;
}

.product_list li{
    flex-basis: 0;
    /* outline: 1px solid red; */

}

.product_list li:first-child{
    flex-grow: 0;
}

.product_list li:nth-child(2){
    flex-grow: 0.89;
    padding-left: 3px;
}

.product_list li:nth-child(3){
    flex-grow: 1;

}

.product_list li:nth-child(4){
    flex-grow: 0.9;

}

.product_list li:last-child{
    flex-grow: 0.9;
}


.product_list h2, .h2_type{
    line-height: 1.6;
    color: #3d3932;
    font-family: 'Lato', sans-serif;
}

.product_list p{
    color: #b3b3b3;
}

.product_list li .none{
    display: none;
}

/* ----------------- 訂單資訊(總計) ----------------- */

.summary{
    /* border: 1px solid blue; */
    width: 30%;
    margin-top: 40px;
    margin-left: 70%;
    color: #3d3932;
    font-family: 'Lato', sans-serif;;
}


.subtotal{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.freight{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(130, 121, 106, .5);
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color: #81a17a;
    font-weight:600;
}

.summary a{
    text-decoration: none;
    display: block;
    width: 200px;
    line-height: 2;
    text-align: center;
    margin: 30px auto;
    background-color: #81a17a;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;

}

.summary a:hover{
    background-color: #3d3932;
    outline: 1px solid #3d3932;

}


/* ------------------- 下方詳細資訊 ----------------- */

article{
    display: flex;
}

article h1{
    font-size: 18px;
    color: #3d3932;
    font-weight: bold;
    line-height: 1.6;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 8px;

    position: relative;
}

article h1::after{
    content: '';
    display: block;
    width: 3px;
    height: 16px;
    background-color: #81a17a;

    position: absolute;
    left: 0px;
    top: 8px;
}

article h2{
    color: #3d3932;
    margin-top: 10px;
    margin-bottom: 10px;
}

article h3{
    color: #b3b3b3;
    margin-bottom: 20px;
}

/* ---------- 訂單備註 ------------*/

.left{
    flex-grow: 1.2;
    /* border: 1px solid red; */
}

.left .remark{
    width: 80%;
    height: 100px;
    outline: 0;
    border: 1px solid #b3b3b3;
    color: #3d3932;
    padding: 5px;
    border-radius: 3px;

}

/* ----------- 訂購須知 -------------- */

.left .notice{
    list-style: square;
    width: 80%;
    font-size: 14px;
    color: #82796a;
    line-height: 1.6;
    padding-left: 30px;
    margin-bottom: 20px;
}




/* ------------ 送貨資料 ------------------ */
.right{
    flex-grow: 1;
    /* border: 1px solid blue; */
}

.right .check{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #3d3932;

}

/* ------ 收件人名稱 & 電話 --------- */
.right .name, .phone{
    outline: 0;
    width: 90%;
    height: 30px;
    border: 1px solid #82796a;
    color: #3d3932;
    padding-left: 5px;
    border-radius: 3px;

}

.right .name + p{
    font-size: 14px;
    color: #b3b3b3;
    margin-bottom: 20px;
}

/* ---------- 到貨時間 --------- */

.right .time_text{
    color: #b3b3b3;
    font-size: 14px;

}

.right .date{
    margin-top: 10px;
    outline: 0;
    width: 90%;
    height: 30px;
    color: #3d3932;
    border: 1px solid #82796a;
    padding-left: 5px;
    border-radius: 3px;

}

/* ----------- 付款資料 ------------ */

.right .credit li{
    margin-bottom: 10px;
    
}

.right .credit li input{
    width: 90%;
    height: 30px;
    outline: 0;
    border: 1px solid #82796a;
    color: #3d3932;
    padding-left: 5px;
    border-radius: 3px;

}

/* ------------- 提交訂單按鈕 ------------- */

.right a{
    text-decoration: none;
    display: block;
    width: 200px;
    line-height: 2;
    text-align: center;
    margin: 30px auto;
    background-color: #81a17a;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;

}

.right a:hover{
    background-color: #3d3932;
    outline: 1px solid #3d3932;
}


/* ------------------ RWD ----------------------- */

@media screen and (max-width: 414px){


    .wrapper{
        width: 85%;
    }


    .top{
        margin-top: 90px;
    }

    .cart_info_nav{
        display: none;
    }

    .product_list{
        flex-wrap: wrap;
    }

    .product_list li:nth-child(2){
        flex-grow: 0;
        flex-basis: 200px;
    }

    .product_list li:nth-child(3){
        text-align: right;
    }



    .product_list li:nth-child(4){
        padding-left: 0;
        margin-top: 10px;
    }

    .product_list li:last-child{
        text-align: right;
        margin-top: 10px;
    }

    .product_list li .none{
        display: block;
        line-height: 1.6;
    }

    .product_list li:nth-last-child(2){
        display: flex;   
        font-size: 14px;     
    }


    .summary{
        margin-left: 0;
        margin-top: 50px;
        width: auto;
    }

    .subtotal, .freight, .total{
        margin: 0 0 15px 0;
    }

    article{
        flex-direction: column;
    }

    article h2, article h3, .right label{
        font-size: 14px;
    }

    .left .notice{
        width: auto;
        margin-bottom: 0;
    }

    .left .remark{
        width: 95%;
    }

    .cart_info h1, article h1{
        margin-bottom: 20px;
    }

    .right .name, .phone, .right .credit li input {
        width: 95%;
    }

    .right .date{
        width: 95%;
    }

    .right a{
        font-size: 14px;
        line-height: 2.5;
    }


}