@import url(reset.css);


body{
    width: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}


/* -------------- 首頁banner輪播圖 ------------ */


/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
  }

#slideshow-container img{
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    
}

/* Hide the images by default */
.mySlides {
    display: none;
  }


  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    margin-top: -22px;
    padding: 12px;
    color: rgb(255, 255, 255, .5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 2.5%;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 2.5%;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  /* 文字敘述 Caption text */
#slideshow-container .text {
    /* border: 1px solid red; */
    font-family: 'Dancing Script', cursive;
    color: #f2f2f2;
    font-size: 48px;
    padding: 8px 12px;
    position: absolute;
    bottom: 15%;
    width: 85%;
    text-align: center;
  }


  /* The dots/bullets/indicators */

.dot_circles{
    text-align: center;
    margin-top: 20px;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* ----------------- 最新消息 ----------------- */

#news{
    width: 90%;
    margin: 0 auto;
}

#news img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 10%;

}

#news h1{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #81a17a;

}

.info{
    width: 80%;
    min-height: 30px;
    font-size: 18px;
    padding-left: 50px;
    margin: 0 auto;


}


.info a{
    text-decoration: none;
    color: #82796a;
    display: flex;
    border-bottom: 1px solid rgb(129, 161, 122, 0.5);
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.date{
    margin-right: 50px;
    margin-left: 20px;
}

/* 最新消息hover */
.info a:hover .text{
    color: #3d3932;
}


/* ----------- 關於洋桔梗 -------------- */

#about{
    width: 90%;
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 50px;
}

#about img{
    width: 650px;
    border-radius: 0 200px 200px 0;
    margin-top: 100px;

}


.about_text{
    margin-top: 100px;
    margin-left: 50px;
}

.about_text h1{
    font-size: 24px;
    color: #81a17a;
    letter-spacing: 3px;
}

.about_text h2{
    font-size: 24px;
    color: #81a17a;
    letter-spacing: 3px;
    text-indent: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.about_text p{
    color: #82796a;
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 30px;
    min-width: 300px;
}

.about_text a{
    display: block;
    width: 200px;
    line-height: 2;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    font-size: 18px;
    text-decoration: none;
    background-color: #81a17a;
    color: #fff;
    border: 1px solid #81a17a;
    border-radius: 15px;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;

}

/* view more在hover後效果 */
.about_text a:hover{
    background-color: #82796a;
}


/* ------------------- 經典熱銷 --------------------- */

#product img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 10%;

}

#product h1{
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 50px;
    letter-spacing: 3px;
    color: #81a17a;
}    



/* --------------------- 鮮乳卷 -------------------------- */
#roll_cake_display{
    width: 90%;
    height: 300px;
    margin: 0 0 0 auto;
    margin-top: 30px;
    /* border: 1px solid red; */
    background: #81a17a; 
    background: -webkit-linear-gradient(to right,rgb(255, 255, 255), rgba(236, 211, 197, 0.3), rgb(129, 161, 122, .8));
    background: linear-gradient(to right,rgb(255, 254, 254), rgb(236, 210, 196, .3), rgb(129, 161, 122, .8));
}

#roll_cake{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 30px;

}


#roll_cake h2{
    color: #3d3932;
    font-size: 24px;
    letter-spacing: 2px;

}

#roll_cake h2 + p{
    color: #B3B3B3;
    font-size: 14px;
    font-family: 'Arima Madurai', cursive;
    line-height: 1.6;
    
}

#roll_cake p + p{
    font-size: 18px;
    color: #82796a;
    margin-top: 30px;
    line-height: 1.6;

}

#roll_cake a{
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
    font-size: 18px;
    color: #fff;
    display: block;
    width: 200px;
    text-align: center;
    line-height: 2;
    margin-top: 30px;
    background-color: #81a17a;
    border-radius: 15px;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}

/* shop now在hover後效果 */
#roll_cake a:hover{
    background-color:#82796a;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;

}


/* ------------------- 戚風蛋糕 -------------------------- */

#chiffon_display{
    width: 90%;
    height: 300px;
    margin: 150px auto 0 0;
    /* border: 1px solid red; */
    background: #81a17a; 
    background: -webkit-linear-gradient(to left,rgb(255, 255, 255), rgb(236, 210, 196, .3), rgb(129, 161, 122, .8));
    background: linear-gradient(to left,rgb(255, 254, 254), rgb(236, 210, 196, .3), rgb(129, 161, 122, .8));

}

#chiffon{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 30px;


}

#chiffon h2{
    color: #3d3932;
    font-size: 24px;
    letter-spacing: 2px;
}

#chiffon h2 + p{
    color: #B3B3B3;
    font-size: 14px;
    font-family: 'Arima Madurai', cursive;
    line-height: 1.6;
    
}

#chiffon p + p{
    font-size: 18px;
    color: #82796a;
    margin-top: 30px;
    line-height: 1.6;

}

#chiffon a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arima Madurai', cursive;
    color: #fff;
    display: block;
    width: 200px;
    text-align: center;
    line-height: 2;
    margin-top: 30px;
    background-color: #81a17a;
    border-radius: 15px;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}

/* shop now在hover後效果 */
#chiffon a:hover{
    background-color:#82796a;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;

}



/* ------------- 聖多諾黑 --------------- */


#saint_display{
    width: 90%;
    height: 300px;
    margin: 150px 0 0 auto;
    /* border: 1px solid red; */
    background: #81a17a; 
    background: -webkit-linear-gradient(to right,rgb(255, 255, 255), rgb(236, 210, 196, .3), rgb(129, 161, 122, .8));
    background: linear-gradient(to right,rgb(255, 254, 254), rgb(236, 210, 196, .3), rgb(129, 161, 122, .8));

}

#saint{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    padding: 30px 0 0 30px;

}

#saint h2{
    color: #3d3932;
    font-size: 24px;
    letter-spacing: 2px;
}

#saint h2 + p{
    color: #B3B3B3;
    font-size: 14px;
    font-family: 'Arima Madurai', cursive;
    line-height: 1.6;
}


#saint p + p{
    font-size: 18px;
    color: #82796a;
    margin-top: 30px;
    line-height: 1.6;
}


#saint a{
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
    color: #fff;
    font-size: 18px;
    display: block;
    width: 200px;
    text-align: center;
    line-height: 2;
    margin-top: 30px;
    background-color: #81a17a;
    border-radius: 15px;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}


/* shop now在hover後效果 */
#saint a:hover{
    background-color:#82796a;
    transition: color .1s ease-in-out, box-shadow .1s ease-in-out;
}




/*---------------------- 點心禮盒 -------------------------- */
#gift_box{
    clear: both;
    /* border: 1px solid red; */
    padding-top: 100px;

}


#gift_box img{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 10%;

}

#gift_box h1{
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #81a17a;
} 

/* ----------------------點心禮盒展示------------------------ */

#gift_box_display{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(236, 210, 196, 0.5);
    margin-top: 60px;

}

#gift_box_display img{
    margin-top: 10px;
}


#gift_box_display ul{
    display: flex;
}


#gift_box_display li{
    /* border: 1px solid red; */
    flex-grow: 1;
    border-radius: 10px;
    text-align: center;
    margin: 30px 20px;

}



#gift_box_display li h2{
    color: #3d3932;
    font-size: 24px;
    letter-spacing: 2px;
    margin-top: 20px;

}

#gift_box_display li h2 + p{
    color: #B3B3B3;
    font-size: 14px;
    font-family: 'Arima Madurai', cursive;
    line-height: 1.6;
}

#gift_box_display li p + p{
    /* border: 1px solid red; */
    font-size: 18px;
    color: #82796a;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.6;
    padding: 0 10px;
    
}


#gift_box_display a{
    text-decoration: none;
    transition: .3s ease-in;
}



#gift_box_display li:hover{
    background-color: #fff;
    transition: .3s ease-in;


}


/* ------------------ RWD 414 ---------------------------- */

@media screen and (max-width: 414px){

/* ----------- banner 輪播 ----------------- */

    #slideshow-container img{
        width: 100%;
        margin-top: 60px;
    }

    #slideshow-container .text{
        bottom: 79%;
        left: -8px;
        font-size: 20px;
        width: 80%;

    }


    .prev{
        top: 18%;
        left: 0;
    }

    .next{
        top: 18%;
        right: 0;
    }

    .dot{
        width: 8px;
        height: 8px;
    }



/* ----------------------- 最新消息 ---------------------- */

    #news{
        width: auto;

    }

    #news h1{
        font-size: 20px;
    }

    .info{
        width: 90%;
        padding-left: 0;
        font-size: 16px;

    }

    .date{
        margin-right: 20px;
    }



/* -------------- 關於洋桔梗 ---------------------- */

    #about{
        flex-direction: column;

    }

    #about img{
        width: 100%;
        margin-top: 0;
    }

    .about_text{
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .about_text h1{
        font-size: 20px;
        text-indent: 30px;
    }

    .about_text h2{
        font-size: 20px;
        margin-bottom: 30px;
        text-indent: 70px;
    }

    .about_text p{
        font-size: 16px;
    }


    .about_text a{
        margin: 0 auto;
    }


/* -------------- 經典熱銷 --------------- */

    #product h1{
        font-size: 20px;

    }

/* --------------- 鮮乳卷 -------------------- */

    #roll_cake_display{
        width: auto;
        background: none;
    }


    #roll_cake{
        flex-direction: column-reverse;
        padding: 0;

    }

    #roll_cake img{
        width: 100%;

    }

    #roll_cake h2{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;

    }

    #roll_cake h2 + p{
        text-align: center;
    }

    #roll_cake p + p{
        margin-top: 10px;
        font-size: 16px;
    }

    #roll_cake a{
        margin: 0 auto;
        margin-top: 20px;
    }

/* --------------- 戚風蛋糕 -------------------- */

    #chiffon_display{
        width: auto;
        background: none;
        margin-top: 220px;
    }

    #chiffon{
        flex-direction: column;
        padding: 0;
        
    }

    #chiffon img{
        width: 100%;
    }

    #chiffon h2{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    #chiffon h2 + p{
        text-align: center;
    }

    #chiffon p + p{
        margin-top: 10px;
        font-size: 16px;
    }

    #chiffon a{
        margin: 0 auto;
        margin-top: 20px;
    }


/* --------------- 聖多諾黑 -------------------- */

    #saint_display{
        width: auto;
        margin-top: 220px;
        background: none;
    }


    #saint{
        flex-direction: column-reverse;
        padding: 0;
    }

    #saint img{
        width: 100%;
    }

    #saint h2{
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    #saint h2 + p{
        text-align: center;
    }

    #saint p + p{
        margin-top: 10px;
        font-size: 16px;
    }

    #saint a{
        margin: 0 auto;
        margin-top: 20px;
    }

/* ---------------- 點心禮盒 ------------------- */

    #gift_box{
        padding-top: 120px;
    }

    #gift_box img{
        margin-top: 80px;
    }

    #gift_box h1{
        font-size: 20px;
    }

/* -------------- 點心禮盒展示 --------------- */

    #gift_box_display{
        margin-top: 0;        
    }

    #gift_box_display ul{
        flex-direction: column;
    }

    #gift_box_display a{
        display: flex;
        align-items: center;
    }

    #gift_box_display img{
        margin-top: 0;
        width: 30%;
    }

    #gift_box_display span{
        margin-left: 3px;
    }

    #gift_box_display li h2{
        font-size: 20px;
        text-align: left;
        padding: 0 10px;
    }

    #gift_box_display li h2 + p{
        text-align: left;
        padding: 0 10px;
    }

    #gift_box_display li p + p{
        font-size: 16px;
        text-align: left;
        margin-top: 8px;
        margin-bottom: 0;
    }

}