@import url(reset.css);

section{
    /* border: 1px solid green; */
    width: 80%;
    margin: 0 auto;
}

/* --------------------------------------------------- */

.upper{
    background-color: rgb(236, 210, 196, .3);
    margin-top: 100px;
    margin-bottom: 40px;
}

.upper ul{
    display: flex;
}


.upper_pic{
    min-width: 50%;
    flex-basis: 0;
    /* flex-grow: 1; */

}

.upper img{
    width: 100%;
}

.upper_text{
    /* border: 1px solid red; */
    min-width: 40%;
    padding-left: 30px;
    
}


.upper_text h1{
    font-size: 24px;
    color: #81a17a;
    /* font-weight: bold; */
    margin-top: 40px;
    margin-bottom: 20px;
}

.upper_text h1:before{
    content: '';
    display: block;
    width: 5px;
    height: 24px;
    background-color: #81a17a;
    float: left;
    margin-right: 10px;
}


.upper_text p{
    font-size: 18px;
    color: #3d3932;
    margin-bottom: 10px;
    line-height: 1.6;
    
}

.upper_text p:nth-child(2n+3){
    font-size: 18px;
    color: #B3B3B3;
    
}

/* -------------------- 下方資訊內容 ------------------------ */

.lower{
    background-color: rgb(236, 210, 196, .3);
}

.lower ul{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}


.lower_pic{
    max-width: 50%;
    flex-grow: 1;
    
}

.lower img{
    width: 100%;
}


.lower_text{
    color: #3d3932;
    /* padding-top: 50px; */
    padding-left: 30px;
    padding-right: 20px;
    /* min-width: 40%; */
    flex-basis: 0;
    flex-grow: 1;
}

.lower_text h1{
    font-size: 24px;
    color: #81a17a;
    /* font-weight: bold; */
    margin-top: 40px;
    margin-bottom: 20px;

}

.lower_text h1:before{
    content: '';
    display: block;
    width: 5px;
    height: 24px;
    background-color: #81a17a;
    float: left;
    margin-right: 10px;
}

.lower_text p{
    font-size: 18px;
    color: #3d3932;
    margin-bottom: 30px;
    line-height: 1.6;
}

.lower_text span{
    font-size: 16px;
    color: #B3B3B3;
}

.lower_text ol{
    list-style:square;
    padding-left: 20px;

}

.lower_text ol li{
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 20px;

}