@import url(reset.css);

body{
    font-family:'Noto Sans TC', sans-serif;;
}


/* ---------------  主要資訊 ----------------- */

.wrapper{
    /* border: 1px solid red; */
    width: 30%;
    margin: 0 auto;
    margin-top: 120px;
    
}

.wrapper ul{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(130, 121, 106, .5);
}

.wrapper ul li{
    margin-bottom: 10px;
}

.wrapper li a{
    text-decoration: none;
    font-size: 18px;
    color: #b3b3b3;

}


.wrapper ul li a:hover{
    color: #81a17a;
    font-weight: bold;
    text-shadow: #82796a;
}


.wrapper .login_page a{
    color: #81a17a;
    font-weight: 600;
    text-shadow: 0 0 #82796a;
}


/* -----------使用臉書登入 --------------- */
.wrapper .fb{
    text-decoration: none;
    display: block;
    width: 200px;
    line-height: 3;
    font-size: 14px;
    font-family: 'Lato', sans-serif;;
    background-color: #3B5998;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px;
}

.wrapper .fb:hover{
    background-color: rgb(59, 89, 152, .8);
}


/* ------------ or分隔線 ------------ */
.wrapper p{
    text-align: center;
    margin-top: 20px;
    color: #82796a;

    position: relative;
}

/* ---------------- 資料填寫區 ------------------ */
.main{
    width: 200px;
    margin: 20px auto;
    /* border: 1px solid orange; */
}

.main h2{
    color: #81a17a;
    margin-bottom: 10px;
    
}

.main input{
    margin-bottom: 10px;
    outline: 0;
    width: 95%;
    line-height: 2;
    border: 1px solid #81a17a;
    padding-left: 5px;
    color: #3d3932;
    border-radius: 3px;
}


/* ------------- 會員登入按鈕 -------------- */

.login_btn{
    text-decoration: none;
    display: block;
    width: 200px;
    line-height: 3;
    font-size: 14px;
    font-family: 'Lato', sans-serif;;
    background-color: #81a17a;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 3px;
}

.login_btn:hover{
    background-color:#3d3932;
    color: #fff;
}

/* ------------- 忘記密碼 -------------- */

.password{
    text-decoration: none;
    color: #3d3932;
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;

}

.password:hover{
    color: #82796a;
}