@import url(reset.css);

section{
    background-color: rgb(236, 210, 196, .5);
    /* border: 1px solid green; */
    width: 90%;
    margin: 0 auto;
}

/* --------------------------------------------------- */

.upper{
    /* outline: 1px solid blue; */
    margin-top: 100px;
}

.upper ul{
    display: flex;
    justify-content: center;
}




.upper img{
    width: 100%;
    box-shadow: 0 0 3px 2px rgba(171, 170, 170, 0.5);
}


.upper_text{
    /* border: 1px solid red; */
    padding-top: 30px;
    min-width: 40%;
    padding-left: 30px;

    
}


.upper_pic{
    min-width: 50%;
    flex-grow: 1;

}

.upper_text h1{
    font-size: 24px;
    color: #81a17a;
    /* font-weight: bold; */
    margin-top: 40px;
    margin-bottom: 20px;
}

.upper_text h1:before{
    content: '';
    display: block;
    width: 5px;
    height: 24px;
    background-color: #81a17a;
    float: left;
    margin-right: 10px;
}


.upper_text p{
    font-size: 18px;
    color: #3d3932;
    margin-bottom: 10px;
    line-height: 1.6;
    
}

.upper_text p:nth-child(2n+3){
    font-size: 18px;
    color: #B3B3B3;
    
}

/* --------------------下方資訊內容------------------------ */



.lower ul{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}



.lower img{
    width: 100%;
    box-shadow: 0 0 3px 2px rgba(171, 170, 170, 0.5);

}

.lower_text{
    /* padding-top: 50px; */
    padding-left: 30px;
    padding-right: 20px;
    /* min-width: 40%; */
    flex-basis: 0;
    flex-grow: 1;
}

.lower_pic{
    max-width: 50%;
    flex-grow: 1;
    
}

.lower_text h1{
    font-size: 24px;
    color: #81a17a;
    /* font-weight: bold; */
    margin-top: 40px;
    margin-bottom: 20px;

}

.lower_text h1:before{
    content: '';
    display: block;
    width: 5px;
    height: 24px;
    background-color: #81a17a;
    float: left;
    margin-right: 10px;
}

.lower_text p{
    font-size: 18px;
    color: #3d3932;
    margin-bottom: 30px;
    line-height: 1.6;
}

.lower_text span{
    font-size: 16px;
    color: #B3B3B3;
}