@import url(reset.css);

/* --------------- 中間敘述區域 -------------------- */


#about_main{
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;

}

.main_text{
    margin-right: 20px;

    display: flex;
    justify-content: center;

}

.main_text li{
    position: relative;

    /* border: 1px solid blue; */
}


.main_text .mainpic_bottom{
    background-image: url(../img/about_pic1.png);
    width: 310px;
    height: 433px;

    position: absolute;
    left: 69%;
    bottom: 20%;
    z-index: -1;

}


.main_text li:first-child{
    align-self: flex-end;
}


.main_text li:nth-child(2){
    margin-left: 140px;
}


.main_text h1{
    font-size: 48px;
    color: #81a17a;
    font-family: 'Courgette', cursive;
    text-shadow: 0 4px 4px rgb(0, 0, 0, .25);
    margin-top: 90px;
    border-bottom: 1px solid #81a17a;
    margin-left: 10px;

}

.main_text span{
    color: #fff;

}

.main_text p{
    /* border: 1px solid blue; */
    color: #82796a;
    font-size: 20px;
    line-height: 1.6;
    margin-left: 30px;
    margin-top: 100px;

    padding-left: 50px;

}



/* ---------------下方購物區--------------------- */

#about_shop{
    /* border: 1px solid red; */
    height: 300px;
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;  


}


.shop_text{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

.shop_text li{
    position: relative;
    /* border: 1px solid blue; */
}

.shop_text .shop_bottom{
    background-image: url(../img/about_pic3.png);
    width: 305px;
    height: 220px;

    position: absolute;
    left: 50%;
    top: 5%;
    z-index: -1;
}


.shop_text li:first-child{
    margin-right: 200px;
    align-self: center;
    
}


.shop_text li:nth-child(2){
    justify-self: right;
}

#about_shop a{
    text-decoration: none;
    color: #82796a;
    font-size: 24px;
    font-family: 'Courgette', cursive;

    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid #82796a;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;  /*for文字垂直置中*/

}



.arrow{
    position: absolute;
    left: 50%;
    top: 60%;
}


#about_shop a:hover{
    color: #3d3932;
}


